.tabel {
  margin-top: 6rem;
}

.tabel form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: x-large;
  text-align: left;
}

form input {
  font-size: xx-large;
  margin: 1.3% 0%;
  padding: 3px 15px;
  border-radius: 50px;
}

form button {
  width: 10rem;
  background-color: green;
  margin-left: 87%;
}
