.navBar{
    z-index: 999;
    position: fixed;
    background-color: rgb(255, 217, 0);
    top: 0;
    padding: 2rem;
    /* right: 24%; */
    /* bottom: 100%; */
    left: 0;
    width: 100%;
    /* display: flex; */
}

.logoNav{
    width: 6%;
    align-items: center;
    left: 47%;
    position: absolute;
    justify-content: center;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar li{
    list-style: none;
    margin: auto 10%;
    font-size: larger;
    
}